<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Banking</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bank.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutiveHomeController</display-name>
    <servlet-name>ExecutiveHomeController</servlet-name>
    <servlet-class>com.bank.controller.ExecutiveHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutiveHomeController</servlet-name>
    <url-pattern>/executivehome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.bank.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerController</display-name>
    <servlet-name>EditCustomerController</servlet-name>
    <servlet-class>com.bank.controller.EditCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerController</servlet-name>
    <url-pattern>/EditCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountController</display-name>
    <servlet-name>CreateAccountController</servlet-name>
    <servlet-class>com.bank.controller.CreateAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountController</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountOperationController</display-name>
    <servlet-name>AccountOperationController</servlet-name>
    <servlet-class>com.bank.controller.AccountOperationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountOperationController</servlet-name>
    <url-pattern>/accountoperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountStatusController</display-name>
    <servlet-name>AccountStatusController</servlet-name>
    <servlet-class>com.bank.controller.AccountStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountStatusController</servlet-name>
    <url-pattern>/AccountStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerStatusController</display-name>
    <servlet-name>CustomerStatusController</servlet-name>
    <servlet-class>com.bank.controller.CustomerStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerStatusController</servlet-name>
    <url-pattern>/CustomerStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerController</display-name>
    <servlet-name>DeleteCustomerController</servlet-name>
    <servlet-class>com.bank.controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerController</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCustomerController</display-name>
    <servlet-name>CreateCustomerController</servlet-name>
    <servlet-class>com.bank.controller.CreateCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomerController</servlet-name>
    <url-pattern>/CreateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.bank.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerTellerController</display-name>
    <servlet-name>ViewCustomerTellerController</servlet-name>
    <servlet-class>com.bank.controller.ViewCustomerTellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerTellerController</servlet-name>
    <url-pattern>/viewcustomerteller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionControlller</display-name>
    <servlet-name>TransactionControlller</servlet-name>
    <servlet-class>com.bank.controller.TransactionControlller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionControlller</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTransactionsController</display-name>
    <servlet-name>ShowTransactionsController</servlet-name>
    <servlet-class>com.bank.controller.ShowTransactionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTransactionsController</servlet-name>
    <url-pattern>/ShowTransactions</url-pattern>
  </servlet-mapping>
</web-app>